/*! 
* ==================================================================================
    Copyright 2022 Creado por el duo Rober R y Jose M guiados por el Sensei Maxi Sar
* ==================================================================================

 *
 *                       _**0**_
 *                      **     **
 *                     **   .   **
 *                    * (| -_-  |)*
 *                    ***\./=\ /***
 *                    ___/\|||/\___
 *                  / \|   \|/  |/  \ 
 *                 / \|||   :  |||// \
 *                / _||||| -:- |||| - \
 *               |   | \  -  - / |   | |
 *               | \_|  ''\---/''  |_/ |
 *               \  .-\__  '-'  ___/-. /                
 *             ___'. .'  /--.--\  `. .'___
 *          ."" '<  `.___\_<|>_/___.' >' "".         
 *         | | :  `- \`.;`\ _ /`;.`/ - ` : | |      
 *         \  \ `_.   \_ __\ /__ _/   .-` /  /      
 *     =====`-.____`.___ \_____/___.-`___.-'=====   ║░█░█░║░█░█░█░║░█░█░║
 *   =============================================  ║░█░█░║░█░█░█░║░█░█░║
 *                                                  ║░║░║░║░║░║░║░║░║░║░║
 *                                                  ╚═╩═╩═╩═╩═╩═╩═╩═╩═╩═╝
 *              Sensei MAXIMUS :  "No Bugs"
 *
 * ========================================================= */




:root {
    --tab-background-color: #6a1b9a ;
    --tab-text-color-light: ivory;
    --tab-body-color: ivory;
    --font-color-dark: #262626;
    
}


/*/////////////////////////////////
NAVIGACION                     
/////////////////////////////////*/
section {
    max-width: 1000px;
    margin: 0 1px 30px;
    border-bottom: 1px solid lightgrey;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.tab-bar {
    height: 60px;
    width: 100%;
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .tab-bar a {
        background-color: var(--tab-background-color);
        height: 60px;
        text-decoration: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        color: var(--tab-text-color-light);
        -webkit-box-flex: 1;
        /*-ms-flex-positive: 1;*/
        flex-grow: 1;
        border-right: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-tap-highlight-color: transparent;
    }

        .tab-bar a:first-of-type {
            border-left: 1px solid lightgrey;
        }

        .tab-bar a:focus {
            outline: none;
        }

            .tab-bar a:focus::-moz-focus-inner {
                border: none;
            }

            .tab-bar a:focus.show-outline {
                outline: 3px solid var(--font-color-dark);
                outline-offset: -10px;
            }
/*/////////////////////////////////
CONTENT                         
/////////////////////////////////*/
.content {
    background-color: var(--tab-body-color);
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    max-width: 1000px;
    height: auto;
    padding: 20px;
}

    .content h2 {
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 8px;
        -webkit-animation: fade-in .5s;
        animation: fade-in .5s;
    }

    .content p {
        font-size: 16px;
        line-height: 1.3;
        -webkit-animation: fade-in .7s;
        animation: fade-in .7s;
    }

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

span {
    color: var(--icon-color);
    font-size: 30px;
    padding-left: 10px;
    
}

article {
    padding: 20px;
    font-size: 16px;
    line-height: 1.3;
}

    article p {
        padding: 0 20px;
    }


